.container {
  display: flex;
  gap: 40px;
  flex-direction: column;
  max-width: 1680px;
  margin: 0 auto;
  margin-top: 120px;
}
.section_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 16px;
  }
}
