.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.title_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.link_top {
  font-family: var(--interface-medium);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1878f3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.new {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ebebeb;
}
.new:hover .img {
  transform: scale(1.1);
}
.new:hover .product_desc {
  color: #1878f3;
}
.img_cont {
  overflow: hidden;
}
.img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.product_btm {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 32px;
}
.product_desc {
  font-family: var(--interface-medium);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #002856;
  transition: 0.4s;
}
.product_btm1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.day {
  font-family: var(--interface_semi);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #9a999b;
}

.link_btm {
  font-family: var(--interface_semi);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1878f3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.link_top_mb {
  display: none;
  align-items: center;
  justify-content: center;
  font-family: var(--interface-medium);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Facebook blue */

  color: #1878f3;
  padding: 16px 0;
  width: 100%;
  border: 1px solid #1878f3;
}
@media (max-width: 1300px) {
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
  }
}
@media (max-width: 880px) {
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
  }
  .product_btm {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
  }
  .link_top {
    display: none;
  }
  .link_top_mb {
    display: flex;
  }
}
@media (max-width: 500px) {
  .news {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    gap: 16px;
  }
}
