.container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--grey-8, #ebebeb);
  background: var(--white, #fff);
  width: 402px;
}
.image_container {
  overflow: hidden;
}
.image {
  transition: 0.2s;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s ease 0.1s;
}
.info {
  display: flex;
  flex-direction: column;
  width: 402px;
  gap: 16px;
  padding: 24px;
  padding-top: 16px;
}
.title {
  overflow: hidden;
  color: var(--black, #020105);
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: var(--halvar-extrabold);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 27px */
  text-transform: uppercase;
  width: 354px;
  height: 80px;
  flex-shrink: 0;
}
.enter {
  display: flex;
  gap: 32px;
  align-items: center;
}
.publishedday {
  color: #acacaf;
  font-family: var(--interface);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.watched {
  color: #acacaf;
  font-family: var(--interface);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black, #020105);
  font-family: var(--halvar-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  padding-top: 16px;
  border-top: 1px solid #ebebeb;
}
.container:hover .image {
  transform: scale(1.1);
  transition: 0.3s;
}
.container:hover .more {
  color: var(--green);
}

.more svg path {
  stroke: black;
}
.more svg {
  transition: all 0.2s ease 0.1s;
}

.container:hover .more svg path {
  stroke: var(--green);
}
.container:hover .more svg {
  transform: rotateZ(-45deg);
}
