.footer {
  background: #1b1b3a;
}
.container {
  background: #1b1b3a;
  max-width: 1680px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.top_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.top_container_inner_top {
  display: flex;
  align-items: center;
  gap: 304px;
  justify-content: flex-start;
}
.title_cont {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.title_desc {
  color: var(--white, #fff);

  /* Title 2/Regular */
  font-family: var(--interface);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.social_links_cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.social_links_title {
  color: var(--white, #fff);

  /* Body 1/Regular */
  font-family: var(--interface);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.social_links {
  display: flex;
  gap: 40px;
}
.social_link {
  width: 32px;
  height: 32px;
}
.top_container_inner_btm {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 114px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.contact_title {
  color: #69697e;

  /* Body 1/Regular */
  font-family: var(--interface);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.contact_info {
  color: var(--white, #fff);
  font-family: var(--halvar-medium);
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 37.4px */
  text-transform: uppercase;
  width: 704px;
}
.phone,
.email {
  color: var(--white, #fff);
  font-family: var(--halvar);
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 37.4px */
  text-transform: uppercase;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
}
.phone:hover,
.email:hover,
.contact_info:hover {
  color: var(--green);
}
.btm_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  color: var(--grey-24, #c2c2c3);

  /* Title 2/Regular */
  font-family: var(--interface);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.footer_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 73px;
}
.footer_link {
  color: var(--white, #fff);

  /* Title 2/Regular */
  font-family: var(--interface);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  border-bottom: 1px solid #fff;
}
.designedby,
.designedby > a {
  color: var(--white, #fff);

  /* Title 2/Regular */
  font-family: var(--interface);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.designedby > a {
  color: var(--green);
}
@media (ma-width: 1440px) {
  .container {
    padding: 80px 16px;
  }
}
