.mySwiper {
}
.box {
  padding: 48px 24px 64px 24px;

  background: var(--apple-grey, #f5f5f7);
}
.container {
  max-width: 1680px;
  margin: 0 auto;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.title_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.left {
  border: unset;
  background-color: unset;
  width: 40px;
  height: 40px;

  cursor: pointer;
}
.right {
  border: unset;
  background-color: unset;
  width: 40px;
  height: 40px;

  cursor: pointer;
}
.right svg,
.left svg {
  width: 40px;
  height: 40px;
}
.left svg path,
.right svg path {
  stroke: #020105;
}
.left:hover svg path {
  stroke: var(--green);
}
.right:hover svg path {
  stroke: var(--green);
}
/* .left > svg > path,
.right > svg > path {
  stroke: black !important;
} */
.left svg {
  transform: rotate(180deg);
}
.image_container {
  width: 100%;
}
.image {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 880px) {
  .container {
    gap: 18px;
  }
  .box {
    padding: 28px 0;
    border: unset;
  }
  .left {
    width: 20px;
    height: 20px;
  }
  .right {
    width: 20px;
    height: 20px;
  }
  .right svg,
  .left svg {
    width: 20px;
    height: 20px;
  }

  .title_section {
    padding: 0 16px;
  }
}
