.product_container {
  border: 1px solid var(--grey-8, #ebebeb);
  background: var(--white, #fff);
  display: flex;
  flex-direction: column;
}
.catalog_name {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 6px;
  padding: 20px 24px;
}
.catalog_name p {
  overflow: hidden;
  color: var(--grey-64, #5d5d5f);
  text-overflow: ellipsis;
  font-family: var(--interface-medium);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  display: -webkit-box;
  width: 340px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.images {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.image {
  width: 100%;
  object-fit: contain;
  transition: all 0.2s ease 0.1s;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 24px 24px;
}
.product_name {
  color: var(--black, #020105);
  font-family: var(--halvar-extrabold);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
  max-width: 354px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
}
.product_link {
  color: var(--black, #020105);
  font-family: var(--halvar-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
.product_link svg {
  width: 24px;
  height: 24px;
}
.product_link svg path {
  stroke: black;
}
.product_link svg {
  transition: all 0.2s ease 0.1s;
}

.product_container:hover .product_link {
  color: var(--green);
}
.product_container:hover .product_link svg path {
  stroke: var(--green);
}
.product_container:hover .product_link svg {
  transform: rotateZ(-45deg);
}
.product_container:hover .image {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .catalog_name {
    overflow: hidden;
    color: var(--grey-64, #5d5d5f);
    text-overflow: ellipsis;
    font-family: var(--interface-medium);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    padding: 20px 16px 23px 16px;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 13px 16px;
  }
  .product_name {
    padding-bottom: 16px;
    color: var(--black, #020105);
    font-family: var(--halvar-extrabold);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 21px */
    text-transform: uppercase;
  }
  .product_link {
    color: var(--black, #020105);
    font-family: var(--halvar-extrabold);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 21px */
    text-transform: uppercase;
  }
}
