.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 1700px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .container {
    padding: 0 16px;
  }
}
@media (max-width: 1440px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .container {
    gap: 18px;
  }
}
@media (max-width: 1280px) {
  .container {
    gap: 18px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .link {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    gap: 18px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .link {
    display: none;
  }
}
@media (max-width: 760px) {
  .container {
    gap: 18px;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .link {
    display: none;
  }
}
