.catalogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media (max-width: 1440px) {
}
@media (max-width: 768px) {
  .catalogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-bottom: 56px;
  }
}
@media (max-width: 763px) {
  .catalogs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
