.all {
  display: flex;
  flex-direction: column-reverse;
  /* width: 100%; */
  gap: 16px;
}
.box {
  display: flex;
}
.swiper {
  max-width: 618px;
}
.thumb {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;

  gap: 16px;
}

.thumb_inner {
  display: flex;
  border: 1px solid red;
  border-radius: 20px;
  width: 99px !important;
  height: 99px !important;
  margin-bottom: 16px !important;
}
.thumb_inner > img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 100%;
}
.swiper_right {
  border: 1px solid red;
  border-radius: 20px;
  height: 100% !important;
}
.swiper_right img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 100%;
}
.mobile {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.swiper_product {
  width: 361px;
  height: 361px;
}
.swiper_thumb {
  display: flex;
  gap: 8px;
}
@media (max-width: 1400px) {
  .top {
    grid-template-columns: 0.2fr 0.8fr;
  }
}
@media (max-width: 1300px) {
  .all {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
  }
}
@media (max-width: 680px) {
  .all {
    display: none;
  }
  .mobile {
    display: flex;
  }
}

@media (max-width: 380px) {
  .swiper_product {
    width: 340px;
    height: 340px;
  }
}
@media (max-width: 330px) {
  .swiper_product {
    width: 290px;
    height: 290px;
  }
}
