.box {
  max-width: 1680px;
  margin: 0 auto;
}
.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.title {
  color: var(--black, #020105);
  font-family: var(--halvar-extrabold);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 48px */
  text-transform: uppercase;
  width: 469px;
}
.desc {
  color: var(--grey-64, #5d5d5f);

  /* Title 2/Regular */
  font-family: var(--interface);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  width: 469px;
}
.cart_btn {
  color: var(--white, #fff);
  text-align: center;
  font-family: var(--halvar-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
  text-transform: uppercase;
  display: flex;
  width: 301px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background: #4eb848;
  border: unset;
  cursor: pointer;
}
