.container {
  display: grid;
  grid-template-columns: 0.8fr 0.4fr;
  gap: 24px;
}
.left {
}
.map,
.map > iframe {
  width: 100%;
  height: 100%;
}
.left {
  position: relative;
}
.map {
  position: relative;
}
.bottom_info {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border: 1px solid var(--grey-8, #ebebeb);
  background: var(--white, #fff);
  box-shadow: 0px 12px 33px 0px rgba(2, 1, 5, 0.12);
}
.location_name {
  color: var(--black, #020105);
  font-family: var(--halvar-bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-right: 48px;
  border-right: 1px solid #ebebeb;
}
.location_name svg {
  width: 32px;
  height: 32px;
}
.location_name span {
  max-width: 364px;
}

.social_media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 48px;
}

.social_title {
  color: #69697e;
  font-family: var(--interface);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.socials svg path {
  fill: var(--black, #020105);
}
.contacts {
  display: flex;

  flex-direction: column;
  padding: 24px 32px;
  border: 1px solid var(--grey-8, #ebebeb);
  background: var(--apple-grey, #f5f5f7);
}
.title {
  color: var(--black, #020105);
  font-family: var(--halvar-bold);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 35.84px */
}
.subtitle {
  color: var(--grey-64, #5d5d5f);
  font-family: var(--interface);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-bottom: 40px;
}
.form {
  padding-bottom: 24px;
  border-bottom: 1px solid #c2c2c3;
}
.form_wrapper {
  display: flex;

  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.top_form {
  display: flex;

  justify-content: center;
  flex-direction: column;
  gap: 11px;
}
.bottom_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
.name,
.comment {
  display: flex;
  max-width: 480px;
  padding: 16px 16px 16px 24px;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--grey-8, #ebebeb);
  background: var(--white, #fff);
  color: var(--grey-green, #6f7e70);

  /* Body 1/Regular */
  font-family: var(--interface);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.number_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--grey-8, #ebebeb);
  background: var(--white, #fff);
  color: var(--grey-green, #6f7e70);
  /* Body 1/Regular */
  font-family: var(--interface);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  max-width: 480px;
  padding: 16px 16px 0 24px;
}
.number,
.number span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-green, #6f7e70);
  /* Body 1/Regular */
  font-family: var(--interface);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-bottom: 16px;
}
.number {
  height: 100%;
  width: 100%;
  border: unset;
}
.number_wrapper span {
  padding-bottom: 16px;
}
.name:active,
.name:focus,
.name:focus-visible {
  outline: none;
}
.number:active,
.number:focus,
.number:focus-visible {
  outline: none;
}
.comment {
  padding: 16px 16px 104px 24px;
}
.comment:active,
.comment:focus,
.comment:focus-visible {
  outline: none;
}
.contact_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 24px;
  gap: 70px;
}
.contact_info_inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
}
.mail,
.phone {
  color: var(--black, #020105);
  font-family: var(--interface-medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
@media (max-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-gap: 24px;
  }
}
@media (max-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .left {
    height: 450px;
  }
  .map {
  }
  .form_wrapper {
    align-items: unset;
  }
  .top_form {
    align-items: unset;
  }
  .bottom_info {
    flex-direction: column;
    align-items: unset;
    padding: 16px 10px;
    gap: 14px;
    bottom: 6px;
    left: 6px;
    right: 6px;
  }
  .social_media {
    border-top: 1px solid #ebebeb;
    padding-left: 0;
    padding-top: 14px;
    align-items: flex-start;
  }
  .social_title {
    color: #69697e;

    /* overlap 1/Regular */
    font-family: var(--interface);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
  }

  .location_name {
    color: var(--black, #020105);
    font-family: var(--halvar-bold);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
    text-transform: uppercase;
    border-right: unset;
    padding-right: 0;
  }

  .contacts {
    padding: 26px 16px 32px 16px;
  }
  .title {
    color: #000;
    font-family: var(--halvar-bold);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%; /* 22.4px */
  }
  .subtitle {
    color: var(--grey-64, #5d5d5f);

    /* Body 1/Regular */
    font-family: var(--interface);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    padding: 12px 0 22px 0;
  }
  .comment {
    padding: 10px 16px 90px 16px;
  }
  .number,
  .number span {
    padding-bottom: 10px;
  }
  .number_wrapper span {
    padding-bottom: 10px;
  }
  .number_wrapper {
    padding: 10px 16px 0 16px;
  }
  .contact_info {
    justify-content: space-between;
    gap: 0;
  }
  .contact_info_title {
    color: #69697e;

    /* overlap 1/Regular */
    font-family: var(--interface);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
  }
  .phone,
  .email {
    color: var(--black, #020105);

    /* Body 1/Medium */
    font-family: var(--interface-medium);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }
}
